<tr>
    <td><a class="{{ outTuote.myynnissa()}}" title="PID {{ outTuote.pid }}"  href="/search/outid/{{ outTuote.outid }}">{{ outTuote.outId }}</a></td>
    <td>
        <a class="{{ outTuote.myynnissa()}}" title="To PID"  href="/search/pid/{{ outTuote.pid }}">.</a>
        <span class="{{ outTuote.myynnissa()}}" title="PID luotu: {{ outTuote.pidLuotu|format_date('short', locale='fi') }}">{{ outTuote.name }}</span>
    </td>
    <td><span class="{{ outTuote.myynnissa()}}">{{ outTuote.outPrice|format_currency('EUR', {rounding_mode: 'floor'}, locale='fi') }}</span></td>
    <td><span class="{{ outTuote.myynnissa()}}">{{ outTuote.norPrice|format_currency('EUR', {rounding_mode: 'floor'}, locale='fi') }}</span></td>
    <td><span class="{{ outTuote.myynnissa()}}">{{ outTuote.alennus|round(1,'common') }}%</span></td>
    <td><span class="{{ outTuote.myynnissa()}}">{{ outTuote.warranty }} kk</span></td>
    <td><span class="{{ outTuote.myynnissa()}}" title="{{ outTuote.info }}">{{ outTuote.condition }}</span></td>
    {% if  outTuote.onkoA() == null%}
        <td><span class="{{ outTuote.myynnissa()}}" title="Aktiivinen, linkki Verkkokaupan tuotesivulle">
            <a href="https://www.verkkokauppa.com/fi/product/{{ outTuote.pid }}"</a><img src="/gfx/link.png"/>
    {% else %}
        <td><span class="{{ outTuote.myynnissa()}}" title="Poistunut, linkki Verkkokaupan tuotesivulle">
                <a href="https://www.verkkokauppa.com/fi/product/{{ outTuote.pid }}"</a>Ei
    {% endif %}    
        </span></td>
    <td><span class="{{ outTuote.myynnissa()}}">{{ outTuote.onkoK() }}</span></td>
    <td><span class="{{ outTuote.myynnissa()}}">{{ outTuote.onkoD() }}</span></td>
    <td><span class="{{ outTuote.myynnissa()}}"><div><span title="Tilattavissa. Varastossa kpl">{{ outTuote.varastossa }}</span></div></span></td>
    {% if dateType == "Muuttunut" %}
        <td><span class="{{ outTuote.myynnissa()}}">{{ outTuote.priceUpdatedDate|format_date('short', locale='fi') }}</span></td>
    {% else %}
        <td><span class="{{ outTuote.myynnissa()}}">{{ outTuote.deleted|format_date('short', locale='fi') }}</span></td>
    {% endif %}
    
    <td><span class="{{ outTuote.myynnissa()}}">{{ outTuote.daysActive() }}/{{ outTuote.daysWithLastPrice() }}</span></td>
</tr>