        <div class="row">
                <div class="col-md-12">
                    <table class="table taulukot">
                        <caption>Hintatarkkailussa (PID) - {{ pricewathcrows|length }} kpl</caption>
                        <thead>
                            <tr>
                                <th></th>
                                <th>PID</th>
                                <th>Tuote</th>
                                <th>Halvin</th>
                                <th>Raja</th>
                                <th>Armed</th>
                                <th></th>
                            </tr>
                        </thead>
                        {% for row in pricewathcrows %}
                            <tr>
                                <td><a href="/bookmark/pricewatch/del/{{ row.pid }}"><img src="/gfx/ico_remove.gif"/></a></td>
                                
                                {% if row.halvin == 0 %}
                                    <td><a class="deleted" title="PID {{ row.pid }}"  href="/search/pid/{{ row.pid }}">{{ row.pid }}</a></td>
                                <td><span class="deleted">{{ row.nimi }}</span></td>
                                <td><span class="deleted">{{ row.halvin|format_currency('EUR', {rounding_mode: 'floor'}, locale='fi') }}</span></td>
                                {% else %}
                                <td><a class="active" title="PID {{ row.pid }}"  href="/search/pid/{{ row.pid }}">{{ row.pid }}</a></td>
                                <td><span class="active">{{ row.nimi }}</span></td>
                                <td><span class="active">{{ row.halvin|format_currency('EUR', {rounding_mode: 'floor'}, locale='fi') }}</span></td>
                                {% endif %}
                                <form method="POST" action="/bookmark/pricewatch/edit">
                                <td>
                                    
                                    <input type="text" name="limit" value="{{ row.limit|format_currency('EUR', {rounding_mode: 'floor'}, locale='fi') }}" id="limit_{{row.pid}}" class="noBorder inputbox-pitka" readonly="readonly"/>
                                    <input type="hidden" name="int_limit" id="int_limit_{{ row.pid }}" value="{{ row.limit }}"/>
                                </td>
                                <td>
                                    {% if row.armed == 1 %}
                                    <input type="checkbox" name="armed" id="checkbox_{{row.pid}}" checked="true" onclick="return false;"/>
                                    {% else %}
                                    <input type="checkbox" name="armed" id="checkbox_{{row.pid}}" onclick="return false;"/>
                                    {% endif %}
                                </td>
                                <td>
                                    <input type="button" class="btn" value="EDIT" id="edit_{{row.pid}}" onclick="editLimit({{row.pid}})"/>
                                    <input type="hidden" id="pid" name="pid" value="{{ row.pid }}"/>
                                    
                                </td>
                                </form>
                            </tr>
                        {% endfor %}
                        
                    </table>
                </div>
            <!--<script inline="javascript"> var contextRoot = /*[[@{/}]]*/ '';</script>-->
            <script src="/javascript/pwEdit.js" defer></script>
            </div>