<html xmlns="http://www.w3.org/1999/xhtml" >
    <head lang="en">
        {{ include('fragments/_head.html.twig') }}
    </head>
    <body> {% block body %}
        <header>
            {{ include('fragments/_top_navi.html.twig') }}   
        </header>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class=row>Käyttäjätunnus: {{ app.user.username }}</div>
                    
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    Salasanan vaihto: [EI TOIMI VIELÄ]
                    {{ form_start(changePassForm) }}
                    {{ form_row(changePassForm.password, {label: 'Vanha salasana', type: 'password'}) }}
                    {{ form_row(changePassForm.plainPassword) }}
                    <button type="submit" class="btn">Vaihda</button>
                    {{ form_end(changePassForm) }}
                </div>
            </div>
            {{ include('fragments/_bookmark.html.twig') }}
        </div>
            {% endblock %}
    </body>