<html xmlns="http://www.w3.org/1999/xhtml" >
    <head lang="en">
        {{ include('fragments/_head.html.twig') }}
    </head>
    <body> {% block body %}
        <header>
            {{ include('fragments/_top_navi.html.twig') }}   
        </header>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="row">Käyttäjätunnus: {{ app.user.username }}</div>
                    <div class="row">Email:
                    <form method="POST" action="/account/addemail">
                        <input type="text" name="email" value="{{ app.user.email}}" id="email" class="noBorder inputbox-pitka" readonly="readonly"/>
                        <input type="button" class="btn" value="EDIT Email" id="edit_email" onclick="editEmail()"/>
                    </form>
                    Salasanan vaihto: [EI TOIMI VIELÄ]
                    {{ form_start(changePassForm) }}
                    {{ form_row(changePassForm.password, {label: 'Vanha salasana', type: 'password'}) }}
                    {{ form_row(changePassForm.plainPassword) }}
                    <button type="submit" class="btn">Vaihda</button>
                    {{ form_end(changePassForm) }}
                    </div>
                </div>
                <div class="col-md-8">
                    Tuote PID:n voi asetaa seurantaan PID hakusivun kautta klikkaamalla vihreää + -kuvaketta. Lisäämisen jälkeen tällä sivulla voi asettaa riville rajahinnan. <br>
                    Järjestelmä lähettää sähköpostin (mikäli osoite asetettu) jos halvin tuote PID löytyy rajahinnalla tai alle. Sähköpostin lähettämisen jälkeen rivi asetetaan inaktiiviseksi 
                    jottei tule useita sähköposteja.<br> 
                    Rivin voi poistaa punaisesta ruksista tai asettaa uudelleen aktiiviseksi editoimalla.<br>
                    Riville voi asettaa rajahinnaksi kokonaisluvun. Mikäli haluaa ilmoituksen kun ylipäätään jokin PID tulee tarjolle, voi rajahinnaksi asettaa vaikka 9999.<br>
                    Sähköpostit menevät usein roskapostiin, tarkista siis sieltä<br>
                    <br>
                    <br>
                    <label for="add_new">Lisää uusi PID seurantaan manuaaliseti</label>
                    <form name="add_new" method="POST" action="/bookmark/pricewatch/add_no_db">
                        <label for="pid">Pid</label><input type="number" name="pid" class="inputbox-pitka" />
                        <label for="name">Nimi</label><input type="text" name="name" class="inputbox-pitka" />
                        <label for="limit">Limit</label><input type="number" name="limit" class="inputbox-pitka" />
                        <input type="button" class="btn" value="ADD" id="add_pid" onclick="submit()"/>
                    </form><br>
                </div>
                
            </div>
            
            {{ include('fragments/_pricewatch.html.twig') }}
            {{ include('fragments/_bookmark.html.twig') }}
        </div>
            {% endblock %}
    </body>