<html xmlns="http://www.w3.org/1999/xhtml" >
    <head lang="en">
        {{ include('fragments/_head.html.twig') }}
    </head>
    <body> {% block body %}
        <header>
            {{ include('fragments/_top_navi.html.twig') }}   
        </header>
        <div class="container">
            <div class="row">
                {{ form_start(form) }}
                <div class="col-md-2 col-sm-8">{{ form_widget(form.alku) }}</div>
                <div class="col-md-2 col-sm-8">{{ form_widget(form.loppu) }}</div>
                <div class="col-md-1 col-sm-4">{{ form_widget(form.hae) }}</div>
                    {{ form_end(form) }}
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <table class="table taulukot">
                        <thead>
                            <tr>
                                <th>Päivämäärä</th>
                                <th>Päivitetty & aktiivisena</th>
                                <th>Poistuneita</th>
                                <th>Uusia (aktiivisena)</th>
                                <th>Tuotteita (ka.)</th>
                            </tr>
                        </thead>
                        {% for date in dates %}
                            <tr>
                                <td><span class="active">{{ date.deleted|format_date('short', locale='fi') }}</span></td>
                                <td><span class="active">{{ date.updated }}</span></td>
                                <td><span class="active">{{ date.deletedCount }}</span></td>
                                <td><a class="active" href="/firstseen/{{ date.deleted|date('Y-m-d') }}">{{ date.firstCount }} ({{ date.firstSeenActive }})</a></td>
                                <td><a class="active" href="/stock/{{ date.deleted|date('Y-m-d') }}">{{ date.avgCount|round(0,'common') }}</a></td>
                            </tr>
                        {% endfor %}
                        
                    </table>
                        <div id="div_chart"></div>
    
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                <script type="text/javascript">
                {{ gc_draw(chart, 'div_chart') }}
             </script>
                </div>
            </div>
        </div>
            {% endblock %}
    </body>
