<html xmlns="http://www.w3.org/1999/xhtml" >
    <head lang="en">
        {{ include('fragments/_head.html.twig') }}
    </head>
    <body> {% block body %}
        <header>
            {{ include('fragments/_top_navi.html.twig') }}   
        </header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                <table class="table taulukot active">
                    <thead>
                        <tr>
                        <td></td>
                        <td>Aktiiviset</td>
                        <td>Poistuneet</td>
                        <td>Yhteensä</td>
                        </tr>
                    </thead>
                    <tr>
                        <td>Lukumäärät</td>
                        <td>{{ stats.getActive_count() }}</td>
                        <td>{{ stats.getDeleted_count() }}</td>
                        <td>{{ stats.getActive_count()+stats.getDeleted_count() }}</td>
                    </tr>
                    <tr>
                        <td>Uniikit</td>
                        <td>{{ stats.getActive_uniikit() }}</td>
                        <td>{{ stats.getDeleted_uniikit() }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Kuntoluokka A</td>
                        <td>{{ stats.getActive_count_A() }}</td>
                        <td>{{ stats.getDeleted_count_A() }}</td>
                        <td>{{ stats.getActive_count_A()+stats.getDeleted_count_A() }}</td>
                    </tr>
                    <tr>
                        <td>Kuntoluokka B</td>
                        <td>{{ stats.getActive_count_B() }}</td>
                        <td>{{ stats.getDeleted_count_B() }}</td>
                        <td>{{ stats.getActive_count_B()+stats.getDeleted_count_B() }}</td>
                    </tr>
                    <tr>
                        <td>Kuntoluokka C</td>
                        <td>{{ stats.getActive_count_C() }}</td>
                        <td>{{ stats.getDeleted_count_C() }}</td>
                        <td>{{ stats.getActive_count_C()+stats.getDeleted_count_C() }}</td>
                    </tr>
                    <tr>
                        <td>Kuntoluokka D</td>
                        <td>{{ stats.getActive_count_D() }}</td>
                        <td>{{ stats.getDeleted_count_D() }}</td>
                        <td>{{ stats.getActive_count_D()+stats.getDeleted_count_D() }}</td>
                    </tr>
                    <tr>
                        <td>Vanhin id</td>
                        <td><a class="active" href="/search/outid/{{ stats.getOldest() }}">{{ stats.getOldest() }}</a></td>
                        <td><a class="active" href="/search/outid/{{ stats.getOldest_deleted() }}">{{ stats.getOldest_deleted() }}</a></td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td>Uusin id</td>
                        <td><a class="active" href="/search/outid/{{ stats.getNewest() }}">{{ stats.getNewest() }}</a></td>
                        <td><a class="active" href="/search/outid/{{ stats.getNewest_deleted() }}">{{ stats.getNewest_deleted() }}</a></td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td>Keskim id</td>
                        <td>{{ stats.getAvgId()|round(0,'common') }}</td>
                        <td>{{ stats.getAvgId_deleted()|round(0,'common') }}</td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td>Summa (tot)</td>
                        <td>{{ stats.getActive_sumOut()|format_currency('EUR') }}</td>
                        <td>{{ stats.getDeleted_sumOut()|format_currency('EUR') }}</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Alennus (avg)</td>
                        <td>{{ (100*(1-(stats.getActive_sumOut()/stats.getActive_sumNor()))) |round(2,'common')}} %</td>
                        <td>{{ (100*(1-(stats.getDeleted_sumOut()/stats.getDeleted_sumNor())))|round(2,'common') }} %</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Aktiivisena pv (avg)</td>
                        <td>{{ stats.getActive_days()|round(1,'common') }} / {{ stats.getActive_daysUpdated()|round(1,'common') }}</td>
                        <td>{{ stats.getDeleted_days()|round(1,'common') }} / {{ stats.getDeleted_daysUpdated()|round(1,'common') }}</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Pisimpään aktiivisena</td>
                        <td><a class="active" href="/search/outid/{{ stats.getActive_longest() }}">{{ stats.getActive_longest() }}</a></td>
                        <td><a class="active" href="/search/outid/{{ stats.getDeleted_longest() }}">{{ stats.getDeleted_longest() }}</a></td>
                        <td>-</td>
                    </tr>

                </table>
                <table class="table taulukot">
                    <caption><a class="active" href="/search/distinct">Top 10 aktiiviset (kpl)</a></caption>
                    <thead>
                        <tr>
                        <td>Kpl</td>
                        <td>PID</td>
                        <td>Nimi</td>
                        </tr>
                    </thead>
                    {% for top10row in stats.getActive_top10() %}
                    <tr>
                        <td><span class="active">{{ top10row.getCount() }}</span></td>
                        <td><a class="active" href="/pid/{{ top10row.getPid() }}">{{ top10row.getPid() }}</a></td>
                        <td><span class="active">{{ top10row.getName() }}</span></td>
                    </tr>
                    {% endfor %}
                </table>
                <table class="table taulukot">
                    <caption>Top 10 poistuneet (kpl)</caption>
                    <thead>
                        <tr>
                        <td>Kpl</td>
                        <td>PID</td>
                        <td>Nimi</td>
                        </tr>
                    </thead>
                    {% for top10row in stats.getDeleted_top10() %}
                    <tr>
                        <td><span class="active">{{ top10row.getCount() }}</span></td>
                        <td><a class="active" href="/search/pid/{{ top10row.getPid() }}">{{ top10row.getPid() }}</a></td>
                        <td><span class="active">{{ top10row.getName() }}</span></td>
                    </tr>
                    {% endfor %}
                </table>
                <table class="table taulukot">
                        
                        <caption>Top 10 pisimpään aktiivisena</caption>
                        {% set dateType = "Muuttunut" %}
                        {{ include('fragments/_outTable_header.html.twig') }}
                        
                            {% for outTuote in stats.getLongestTop10() %}
                                {{ include('fragments/_outTable.html.twig') }}
                            {% endfor %}
                        
                    </table>
                </div>
            </div>
                <br>
        </div>    
            {% endblock %}
    </body>
