<html xmlns="http://www.w3.org/1999/xhtml" >
    <head lang="en">
        {{ include('fragments/_head.html.twig') }}
    </head>
    <body> {% block body %}
        <header>
            {{ include('fragments/_top_navi.html.twig') }}   
        </header>
        <div class="container">
            
            
            <div class="row">
                <div class="col-md-12">
                    <table class="table taulukot">
                    <caption>Samoja aktiivisena (kpl)</caption>
                    <thead>
                        <tr>
                        <td>Kpl</td>
                        <td>PID</td>
                        <td>Nimi</td>
                        <td>Poistunut pv sitten</td>
                        <td>Koko</td>
                        </tr>
                    </thead>
                    {% for row in topDistinct %}
                    <tr>
                        <td><span class="active">{{ row.getCount() }}</span></td>
                        <td><a class="active" href="/search/pid/{{ row.getPid() }}">{{ row.getPid() }}</a></td>
                        <td><span class="active">{{ row.getName() }}</span></td>
                        <td><span class="active">{{ row.getLastDel() }}</span></td>
                        <td><span class="active">{{ row.getSize() }}</span></td>
                    </tr>
                    {% endfor %}
                </table>
                        
    
            
                </div>
            </div>
        </div>
            {% endblock %}
    </body>
