<html xmlns="http://www.w3.org/1999/xhtml" >
    <head lang="en">
        {{ include('fragments/_head.html.twig') }}
    </head>
    <body> {% block body %}
        <header>
            {{ include('fragments/_top_navi.html.twig') }}   
        </header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    01.01.2021 ensi kertaa nähdyt.
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table taulukot">
                        <caption>Aktiivisia - {{ activeLkm }} kpl</caption>
                        {% set dateType = "Muuttunut" %}
                        {{ include('fragments/_outTable_header.html.twig') }}
                        {% if active|length >0 %}
                            {% for outTuote in active %}
                                {{ include('fragments/_outTable.html.twig') }}
                            {% endfor %}
                        {% endif %}
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table taulukot">
                        <caption>Poistuneet - {{ deletedLkm }}kpl</caption>
                        {% set dateType = "Poistunut" %}
                        {{ include('fragments/_outTable_header.html.twig') }}
                        {% if deleted|length >0 %}
                            {% for outTuote in deleted %}
                                {{ include('fragments/_outTable.html.twig') }}
                            {% endfor %}
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
            {% endblock %}
    </body>
