<html xmlns="http://www.w3.org/1999/xhtml" >
    <head lang="en">
        {{ include('fragments/_head.html.twig') }}
    </head>
    <body> {% block body %}
        <header>
            {{ include('fragments/_top_navi.html.twig') }}  
            <link rel="stylesheet" href="/css/lavapaikat.css"/>
        </header>
            <sidescroller>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                <table>
                    {% if puoli==0 %}
                        {% set puoliStr = "Parilliset" %}
                        {% set uusipuoli = 1 %}
                    {% else %}
                        {% set puoliStr = "Parittomat" %}
                        {% set uusipuoli = 0 %}
                    {% endif %}
                    {% set seuraava = kaytava+1 %}
                    {% set edellinen = kaytava-1 %}
                    <caption><b>Käytävä 
                            {% if edellinen >2 %}<a href="/lavapaikat/{{ edellinen }}/{{ puoli }}"><--</a> {%endif%}
                            {{ kaytava }} 
                            {% if seuraava <5 %}<a href="/lavapaikat/{{ seuraava }}/{{ puoli }}">--></a>{% endif %}, 
                            {{ puoliStr }} <a href="/lavapaikat/{{ kaytava }}/{{ uusipuoli }}"><-></a></b>
                            <input type="text" name="lava_text" id="lava_text" value="" placeholder="Valitse" form="lavapaikka_form"></input>
                    </caption>
                {% for key in lavapaikat %}
                    <tr>
                    {% for lavapaikka in key %}
                        <td>
                            {%if lavapaikka.usable == true%}
                            <button id="{{lavapaikka.id}}" title="{{ lavapaikka.sisalto }}" class="button" style="background-color:{{lavapaikka.vari()}}" onclick="lavapaikka('{{lavapaikka.id}}')">
                            <b>{{ lavapaikka.id }}<br></b>
                            <br>
                            <b>{{ lavapaikka.daysEdited() }} pv</b><br>
                            {{ lavapaikka.updated|format_date('short', locale='fi') }}
                            <br>
                            </button>
                            {% else %}
                            <button id="{{lavapaikka.id}}" title="{{ lavapaikka.sisalto }}" class="button" style="background-color:{{lavapaikka.vari()}}" disabled>
                            <br>
                            <br>
                            <br>
                            </button>
                            {%endif%}
                        </td>
                    {% endfor %}
                    </tr>
                {% endfor %}
                </table>
                </div>
            </div>
             </div>
                </sidescroller>
            <div class="container">
            <div class="row">
                <form method="POST" action="/lavapaikat/edit" id="lavapaikka_form">
                <input type="hidden" name="usage" id="usage" value="0"></input>
                <span class="sticky">
                <div class="col-xs-4 col-md-1"><input type="button" value="0%" id="0" style="background-color:#4CAF50" class="usage" onclick="useClick(0)"></input></div>
                <div class="col-xs-4 col-md-1"><input type="button" value="25%" id="25" style="background-color:#90EE90" class="usage" onclick="useClick(25)"></input></div>
                <div class="col-xs-4 col-md-1"><input type="button" value="50%" id="50" style="background-color:#FFD700" class="usage" onclick="useClick(50)"></input></div>
                <div class="col-xs-4 col-md-1"><input type="button" value="75%" id="75" style="background-color:#FFA500" class="usage" onclick="useClick(75)"></input></div>
                <div class="col-xs-4 col-md-1"><input type="button" value="100%" id="100" style="background-color:#FF4500" class="usage" onclick="useClick(100)"></input></div>
                <div class="col-xs-4 col-md-1"><input type="button" value="N/A" id="200" style="background-color:#FFE4E1" class="usage" onclick="useClick(200)"></input></div>
                
                <div class="col-xs-12 col-md-6"><textarea name="sisalto" id="sisalto" class="content" maxlength="500" form="lavapaikka_form"></textarea>
                    
                </div>
                </span>
                </form>
                </div>
            </div>
            
                <br>
                <br>
                    <br>
                <br>
            {% endblock %}
        <script src="/javascript/lavapaikat.js" defer></script>
        <span id="btn_temp_style" hidden>none</span>
        <span id="btn_temp_id" hidden>none</span>
        <span id="submit_temp_value" hidden>none</span>
        <span id="submit_temp_id" hidden>none</span>
    </body>
