<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" >
    <head lang="en">
        {{ include('fragments/_head.html.twig') }}
    </head>
        <meta charset="UTF-8" />
        <title>ListaGenerator</title>
    </head>
    <body>
        <div>
            <a href="/listat_no_mh/">Matkahuolto Special listagen </a> - 
            <a href="/listat/">Default list gen</a>
        </div>
            <div>
            {{ form_start(form) }}
                {{ form_widget(form.string,{'attr':{'placeholder': 'OUTxxxxxx HYLLYPAIKKA. Jos hyllypaikkaa ei ole, tulee vika numero.', 'rows':'40', 'wrap':'none'}}) }}</div>
                {{ form_widget(form.Generate) }}</div>
                    {{ form_end(form) }}
        </div>
    </body>
</html>