<html xmlns="http://www.w3.org/1999/xhtml" >
    <head lang="en">
        {{ include('fragments/_head.html.twig') }}
    </head>
    <body> {% block body %}
        <header>
            {{ include('fragments/_top_navi.html.twig') }}   
        </header>
        <div class="container">
            <div class="row">
                <div class="col-md-12"><h3>{{ outTuotteet[0].outId }} - {{ outTuotteet[0].name }}</h3></div>
                <div class="col-md-4 col-xs-12">
                    <table class="table taulukot">
                        <tr><td>Hinta</td><td>{{ outTuotteet[0].outPrice|format_currency('EUR', {rounding_mode: 'floor'}, locale='fi') }}</td></tr>
                        <tr><td>Normaali hinta</td><td>{{ outTuotteet[0].norPrice|format_currency('EUR', {rounding_mode: 'floor'}, locale='fi') }}</td></tr>
                        {% set alennus =  outTuotteet[0].norPrice - outTuotteet[0].outPrice%}
                        <tr><td>Alennus</td><td>{{ alennus|format_currency('EUR', {rounding_mode: 'floor'}, locale='fi') }}</td></tr>
                        <tr><td>Alennusprosentti</td><td>{{ outTuotteet[0].alennus|round(1,'common') }} %</td></tr>
                        <tr><td>Takuu</td><td>{{ outTuotteet[0].warranty }} kk</td></tr>
                    </table>
                </div>
                <div class="col-md-4 col-xs-12">
                    <table class="table taulukot">
                        <tr><td>Pid</td><td>{{ outTuotteet[0].pid }}</td></tr>
                        <tr><td>Pid luotu</td><td>{{ outTuotteet[0].pidLuotu|format_date('short', locale='fi') }}</td></tr>
                        <tr><td>Ensikertaa nähty</td><td>{{ outTuotteet[0].firstSeen|format_date('short', locale='fi') }}</td></tr>
                        <tr><td>Hinta muuttunut viimeksi</td><td>{{ outTuotteet[0].priceUpdatedDate|format_date('short', locale='fi') }}</td></tr>
                        <tr><td>Pakkauksen koko</td><td>{{ outTuotteet[3].sizeStr() }} cm</td></tr>
                    </table>
                </div>
                <div class="col-md-4 col-xs-12">
                    <table class="table taulukot">
                        <tr><td>Päiviä aktiivisena</td><td>{{ outTuotteet[0].daysActive() }} pv</td></tr>
                        <tr><td>Viimeisimmällä hinnalla</td><td>{{ outTuotteet[0].daysWithLastPrice() }} pv</td></tr>
                        <tr><td>Samoja aktiivisena</td><td>{{ active }} kpl</td></tr>
                        <tr><td>Samoja poistunut</td><td>{{ deleted }} kpl</td></tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table taulukot">
                        <caption>Myynnissä - {{ active }} kpl</caption>
                        {{ include('fragments/_outTable.html.twig') }}
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table taulukot">
                        <caption>Poistuneet - {{ deleted }}kpl</caption>
                        {{ include('fragments/_outTable.html.twig') }}
                    </table>
                </div>
            </div>
        </div>
            {% endblock %}
    </body>
