<html xmlns="http://www.w3.org/1999/xhtml" >
    <head lang="en">
        {{ include('fragments/_head.html.twig') }}
    </head>
    <body> {% block body %}
        <header>
            {{ include('fragments/_top_navi.html.twig') }}   
        </header>
        <div class="container">
            <div class="row">
                {{ form_start(form) }}
                <div class="col-md-2 col-sm-8">{{ form_widget(form.outId,{'attr':{'placeholder': 'OutId'}}) }}</div>
                <div class="col-md-1 col-sm-4">{{ form_widget(form.hae) }}</div>
                    {{ form_end(form) }}
                <div class="col-md-12"><h3>{{ outletTuote.outId }} - {{ outletTuote.name }}</h3></div>
                <div class="col-md-4 col-xs-12">
                    <table class="table taulukot">
                        <tr><td>Hinta</td><td>{{ outletTuote.outPrice|format_currency('EUR', {rounding_mode: 'floor'}, locale='fi') }}</td></tr>
                        <tr><td>Normaali hinta</td><td>{{ outletTuote.norPrice|format_currency('EUR', {rounding_mode: 'floor'}, locale='fi') }}</td></tr>
                        {% set alennus =  outletTuote.norPrice - outletTuote.outPrice%}
                        <tr><td>Alennus</td><td>{{ alennus|format_currency('EUR', {rounding_mode: 'floor'}, locale='fi') }}</td></tr>
                        <tr><td>Alennusprosentti</td><td>{{ outletTuote.alennus|round(1,'common') }} %</td></tr>
                        <tr><td>Takuu</td><td>{{ outletTuote.warranty }} kk</td></tr>
                    </table>
                </div>
                <div class="col-md-4 col-xs-12">
                    <table class="table taulukot">
                        <tr><td>Pid</td><td><a href="/pid/{{ outletTuote.pid }}">{{ outletTuote.pid }}</a></td></tr>
                        <tr><td>Pid luotu</td><td>{{ outletTuote.pidLuotu|format_date('short', locale='fi') }}</td></tr>
                        <tr><td>Ensikertaa nähty</td><td>{{ outletTuote.firstSeen|format_date('short', locale='fi') }}</td></tr>
                        <tr><td>Hinta muuttunut viimeksi</td><td>{{ outletTuote.priceUpdatedDate|format_date('short', locale='fi') }}</td></tr>
                        {% if outletTuote.deleted !=null %}
                        <tr><td>Poistunut</td><td>{{ outletTuote.deleted|format_date('short', locale='fi') }}</td></tr>
                        {% else %}
                        <tr><td>Poistunut</td><td>-</td></tr>
                        {% endif %}
                    </table>
                </div>
                <div class="col-md-4 col-xs-12">
                    <table class="table taulukot">
                        <tr><td>Päiviä aktiivisena</td><td>{{ outletTuote.daysActive() }} pv</td></tr>
                        <tr><td>Viimeisimmällä hinnalla</td><td>{{ outletTuote.daysWithLastPrice() }} pv</td></tr>
                        <tr><td>Samoja aktiivisena</td><td>{{ activeLkm }} kpl</td></tr>
                        <tr><td>Samoja poistunut</td><td>{{ deletedLkm }} kpl</td></tr>
                        {% if pidInfo == null %}
                            <tr><td>Pakkauksen koko</td><td>- cm</td></tr>
                        {% else %}
                            <tr><td>Pakkauksen koko</td><td>{{ pidInfo.sizeStr() }} cm</td></tr>
                        {% endif %}
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table taulukot">
                        <caption>Aktiivisia - {{ activeLkm }} kpl</caption>
                        {% set dateType = "Muuttunut" %}
                        {{ include('fragments/_outTable_header.html.twig') }}
                        {% if active|length >0 %}
                            {% for outTuote in active %}
                                {{ include('fragments/_outTable.html.twig') }}
                            {% endfor %}
                        {% endif %}
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table taulukot">
                        <caption>Poistuneet - {{ deletedLkm }}kpl</caption>
                        {% set dateType = "Poistunut" %}
                        {{ include('fragments/_outTable_header.html.twig') }}
                        {% if deleted|length >0 %}
                            {% for outTuote in deleted %}
                                {{ include('fragments/_outTable.html.twig') }}
                            {% endfor %}
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
            {% endblock %}
    </body>
