<html xmlns="http://www.w3.org/1999/xhtml" >
    <head lang="en">
        {{ include('fragments/_head.html.twig') }}
    </head>
    <body> {% block body %}
        <header>
            {{ include('fragments/_top_navi.html.twig') }}   
        </header>
        <div class="container">
            <div class="row">
                {{ form_start(form) }}
                <div class="col-md-2 col-sm-8">{{ form_widget(form.pid,{'attr':{'placeholder': 'PID'}}) }}</div>
                <div class="col-md-1 col-sm-4">{{ form_widget(form.hae) }}</div>
                    {{ form_end(form) }}
                <div class="col-md-12"><h3>PID{{ pidStats.pid }} - {{ pidStats.name }}</h3></div>
                <div class="col-md-8 col-xs-12">
                    <table class="table taulukot">
                        <thead>
                            <tr>
                                <th>Keskiarvo</th>
                                <th>Aktiiviset</th>
                                <th>Poistuneet</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>Hinta</td>
                            <td>{{ pidStats.active_kaOutPrice|format_currency('EUR', {rounding_mode: 'floor'}, locale='fi') }}</td>
                            <td>{{ pidStats.deleted_kaOutPrice|format_currency('EUR', {rounding_mode: 'floor'}, locale='fi') }}</td>
                        </tr>
                        <tr>
                            <td>Alennus</td>
                            <td>{{ pidStats.active_kaAlennus|format_currency('EUR', {rounding_mode: 'floor'}, locale='fi') }}</td>
                            <td>{{ pidStats.deleted_kaAlennus|format_currency('EUR', {rounding_mode: 'floor'}, locale='fi') }}</td>
                        </tr>
                        <tr>
                            <td>Alennusprosentti</td>
                            <td>{{ pidStats.active_kaAlennusProsentti|round(1,'common') }} %</td>
                            <td>{{ pidStats.deleted_kaAlennusProsentti|round(1,'common') }} %</td>
                        </tr>
                        <tr>
                            <td>Päiviä aktiivisena</td>
                            <td>{{ pidStats.active_kaActiveDays|round(1,'common') }}</td>
                            <td>{{ pidStats.deleted_kaActiveDays|round(1,'common') }}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-4 col-xs-12">
                    <table class="table taulukot">
                        <tr><td>Pid</td><td>{{ pidStats.pid }}</td></tr>
                        {% if pidStats.pidCreated==null %}
                            <tr><td>Pid luotu</td><td>-</td></tr>
                        {% else %}
                        <tr><td>Pid luotu</td><td>{{ pidStats.pidCreated|format_date('short', locale='fi') }}</td></tr>
                        {% endif %}
                        <tr><td>Aktiivisia</td><td>{{ activeLkm }}</td></tr>
                        <tr><td>Poistuneita</td><td>{{ deletedLkm }}</td></tr>
                        <tr><td>Pakkauksen koko</td><td>{{ pidStats.pidSize }} cm</td></tr>
                    </table>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table taulukot">
                        <caption>Aktiivisia - {{ activeLkm }} kpl</caption>
                        {% set dateType = "Muuttunut" %}
                        {{ include('fragments/_outTable_header.html.twig') }}
                        {% if active|length >0 %}
                            {% for outTuote in active %}
                                {{ include('fragments/_outTable.html.twig') }}
                            {% endfor %}
                        {% endif %}
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table taulukot">
                        <caption>Poistuneet - {{ deletedLkm }}kpl</caption>
                        {% set dateType = "Poistunut" %}
                        {{ include('fragments/_outTable_header.html.twig') }}
                        {% if deleted|length >0 %}
                            {% for outTuote in deleted %}
                                {{ include('fragments/_outTable.html.twig') }}
                            {% endfor %}
                        {% endif %}
                    </table>
                </div>
            </div>        

        </div>
            {% endblock %}
    </body>
