<html xmlns="http://www.w3.org/1999/xhtml" >
    <head lang="en">
        {{ include('fragments/_head.html.twig') }}
    </head>
    <body> {% block body %}
        <header>
            {{ include('fragments/_top_navi.html.twig') }}   
        </header>
        <div class="container">
            <div class="row">
                    {{ form_start(form) }}
                    <div class="col-md-2 col-sm-12">{{ form_widget(form.activity) }}</div>
                    <div class="col-md-2 col-sm-12">{{ form_widget(form.alkaen) }}</div>
                    <div class="col-md-2 col-sm-12">{{ form_widget(form.asti) }}</div>
                    <div class="col-md-1 col-sm-12">{{ form_widget(form.minprice,{'attr':{'placeholder': 'min'}})  }}</div>
                    <div class="col-md-1 col-sm-12">{{ form_widget(form.maxprice,{'attr':{'placeholder': 'max'}})  }}</div>
                    <div class="col-md-1 col-sm-12">{{ form_widget(form.kl) }}</div>
                    <div class="col-md-1 col-sm-12">{{ form_widget(form.size) }}</div>
                    <div class="col-md-1 col-sm-12">{{ form_widget(form.act) }}</div>
                    
            </div>
            <div class="row">
                    <div class="col-md-4 col-sm-12">{{ form_widget(form.searchStr,{'attr':{'placeholder': 'Hae tuotteita'}}) }}</div>
                    <div class="col-md-2 col-sm-12">{{ form_widget(form.orderBy) }}</div>
                    <div class="col-md-2 col-sm-12">{{ form_widget(form.direction) }}</div>
                    <div class="col-md-1 col-sm-12">{{ form_widget(form.hae) }}</div>
                    
            
                    {{ form_end(form) }}
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table taulukot">
                        {% if active|length >0 %}
                        <caption>Aktiivisia - {{ active|length }} kpl, Alennusprosentti (tot): {{ active_prosentit|round(1,'common') }} %, Yhteensä(out): {{ active_sum_outprice|format_currency('EUR', {rounding_mode: 'floor'}, locale='fi') }} , Keskihinta(out): {{ (active_sum_outprice/active|length)|format_currency('EUR', {rounding_mode: 'floor'}, locale='fi') }}</caption>
                        {% set dateType = "Muuttunut" %}
                        {{ include('fragments/_outTable_header.html.twig') }}
                        
                            {% for outTuote in active %}
                                {{ include('fragments/_outTable.html.twig') }}
                            {% endfor %}
                        {% endif %}
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table taulukot">
                        {% if deleted|length >0 %}
                            <caption>Poistuneet - {{ deleted|length }} kpl, Alennusprosentti (tot): {{ deleted_prosentit|round(1,'common') }} %, Yhteensä(out): {{ deleted_sum_outprice|format_currency('EUR', {rounding_mode: 'floor'}, locale='fi') }} , Keskihinta(out): {{ (deleted_sum_outprice/deleted|length)|format_currency('EUR', {rounding_mode: 'floor'}, locale='fi') }}</caption>
                                {% set dateType = "Poistunut" %}
                                {{ include('fragments/_outTable_header.html.twig') }}
                            {% if is_granted ('ROLE_HISTORY') %}
                                {% for outTuote in deleted %}
                                    {{ include('fragments/_outTable.html.twig') }}
                                {% endfor %}
                            {% else %}
                                <tr><td>Data hidden</td></tr>
                            {% endif %}
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
            {% endblock %}
    </body>